<%- include("header") -%>

<h2>this is about page </h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi cum provident quam unde omnis explicabo facere, est necessitatibus fugiat molestias repellendus, quae repellat sint excepturi possimus, laborum nobis libero ullam.</p>

<%- include("footer") -%>